*
!.gitignore
!.nojekyll
!.CNAME
CNAME
Luca_Kosowski_CV.pdf
Reference_Letter_English.pdf
Reference_Letter_Italian.pdf
articles.html
favicon.svg
index.html
profile.jpg
projects.html
references.html
styles.css
media/
website-development/