*
!.gitignore
!docs/
docs/*
!docs/.nojekyll
!docs/CNAME
!docs/*.html
!docs/*.css
!docs/*.svg
!docs/*.jpg
!docs/*.png
!docs/*.pdf
!docs/media/
docs/media/*
!docs/media/education-logos/
docs/media/education-logos/*
!docs/media/project-previews/
docs/media/project-previews/*
!docs/website-development/
docs/website-development/*
!docs/Luca_Kosowski_CV.pdf
!docs/Reference_Letter_English.pdf
!docs/Reference_Letter_Italian.pdf
!docs/profile.jpg